/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Image drag and drop
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
	padding: 0 0 2em 0;
}

div#header {
	margin-top: 5em;
	margin-bottom: 4em;
}

h1 {
	color: ##4E482E;
	text-align: center;
	font-size: 2.5em;
}

h2 {
	color: rgba(162,150,95,1);
}


/* -----------------------------------------
   Edit page
----------------------------------------- */

div.image-drop {
margin-top: 4em;
	background-color: rgba(162,150,95,0.2);
	height: 12em;
	text-align: center;
	padding-top: 9em;
	border: 5px dotted #A2965F;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

div.image-preview {
	margin-bottom: 3em;
}

a#done-button {
	margin-top: 2em;
}


/* -----------------------------------------
   Overview page
----------------------------------------- */

div.row {
	margin-bottom: 2em;
}
