/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Image drag and drop
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

div#header {
	margin-top: 4em;
}

h1 {
	color: ##4E482E;
	text-align: center;
	font-size: 2.5em;
}

h2 {
	color: rgba(162,150,95,1);
}


/* -----------------------------------------
   Image drag and drop
----------------------------------------- */

div.image-drop {
margin-top: 4em;
	background-color: rgba(162,150,95,0.2);
	height: 12em;
	text-align: center;
	padding-top: 9em;
}



/* -----------------------------------------
   Page Name 2
----------------------------------------- */


